
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
html {
  font-size: 62,5%;
  font-family: 'Caveat', cursive;
}
:root{
  /* Colores */
  --cherry: #f71a1ae1;
  --soft-cherry: #ffcfcf;
  --blue: #1A9AF7;
  --soft-blue:#E7F5FF;
  --warm-black: #242823;
  --black: #1c201c;
  --grey: #757575;
  --just-white: #FAF8F7;
  --white: #fff;
}
.inactive {
display: none;
}
nav {
  z-index: 1;
}
.header__navegation-bar {
  display: flex;
  justify-content: space-around;
  background-color: var(--just-white);
  align-items: center;
  position: relative;
  z-index: 100;
}
.header__left-side button{
  width: 25px;
  height: 25px;
}
.header__image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__main-image {
  width: 2rem;
  height: 1.6rem;
}
.header__right-side {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}
.header__left-side button{
  width: 25px;
  height: 25px;
}
.header__right-side img {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: var(--just-white);
  margin-right: 3px;
  cursor: pointer;
}
.right-side__email {
  display: none;
  text-decoration: none;
}
/*Menu in Desktop*/
.nav__display-menu {
  position: absolute;
  padding: 6px;
  background-color: white;
  border: 1px solid var(--black);
  border-radius: 6px;
  right: 0;
  top: 30px;
}
.nav__display-menu li {
  list-style: none;
}
.nav__display-menu a {
  text-decoration: none;
}
/*Menu in Mobile*/
.nav__mobile-menu {
  position: absolute;
  width: 200px;

  padding: 14px;
  margin: 3px 0 0;
  top: 40px;
  left: 17px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;

}
.nav__mobile-menu h2 {
  margin-bottom: 60px;
}
.nav__mobile-menu ul {
  margin-bottom: 60px;
}

.nav__mobile-menu ul:nth-child(2) {
  border-bottom: 1px solid var(--grey);
} 
.nav__mobile-menu li {
  list-style: none;
  margin-bottom: 30px;
}
.nav__mobile-menu a {
  text-decoration: none;
} 
.mobile-menu__bold {
  font-weight: bold;
}
.mobile-menu__sign-out {
  color: green;
}
.nav__mobile-menu .mobile-menu__last-ul {
  margin-bottom: 0px;
}
.nav__mobile-menu .mobile-menu__last-ul .mobile-menu__sign-out{
  margin-bottom: 0px;
}
/* Propiedades del carrito de compras */
.selected-product {
  width: 100%;
  height: 90vh;

  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  z-index: 100;
  background-color: var(--white);
  position: absolute;
  top: 0;
  padding: 15px;

}
.selected-product__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.selected-product__images img {
  height: 6rem;
  width: 6rem;
  border-radius: 10px;
}
.selected-product__images p {
  margin-left: 15px;
}
.selected-product__product-name {
  color: var(--grey);
}
.selected-product__product-price {
  font-weight: bold;
 
}
.selected-product__images span {
  margin-left: 15px;
}
.selected-product__total {
  display: flex;
  flex-direction: row;
  background: var(--grey);
  height: 60px;
  width: 220px;
  align-items: center;
  margin: 20px auto;
  border-radius: 6px;
}
.selected-product__total p {
  font-weight: bold;
  margin: 40px;
}
.selected-product button {
  border: 0;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #fc1c27 100%);
  border-radius: 8px;
  color: var(--white);
  display: flex;
  font-size: 1.2rem; 
  padding: 3px;
  transition: 0.3s;
  margin: 0 auto;
}
.selected-product__button-span {
  background-color: var(--black);
  padding: 10px 18px;
  border-radius: 6px;
  transition: .3s;
  justify-content: center;
}
.selected-product button:hover span {
  background: none;
}
.selected-product button:active {
  transform: scale(0.9);
}
/*Product list (shoping site)*/
.shopping-site {

}
.main-header__container {
  width: 100%;
  height: 100vh;
  background-color: var(--white);

}
.main-header__card-container {
  min-width: 320px;
  max-width: 600px;

  margin: 0 auto;

}
.card-container__product {
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 6px;
  justify-content: center;
  border: 1px solid var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.16);
}
.card-container__image {
  width: 30%;
}
.card-container__product img {
  width: 100%;
  height: 100%;
  border-radius: 5px;

}
.card-container__product-specifications {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  text-align: center;
  
}
.card-container__product-specifications h2 {

}
/*Encabezado*/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  text-align: center;
  height: 150px;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #fc1c27 100%);
}
/*Detalles de los productos*/
.product-detail {
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 100%;
  background-color: var(--white);
  border: 1px solid var(--black);
}
.product-detail__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-detail__container img {
  min-width: 300px;
  width: 70%;
  height: 70%;
  border-radius: 5px;
  margin-bottom: 12px;
}
.product-detail__boton-compra {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-detail__añadir-articulo {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-detail__specifications {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.product-detail__specifications p {
  font-weight: bold;
}
.product-detail__container p {
  margin: 15px auto;
}
/*icono cierre detalle del producto*/
.product-detail__container span {

  position: absolute;
  left: 20px;
  top: 20px;
}
.product-detail__container i {
  background-color: white;

}
.product-detail__container {
  margin-top: 10px;
}

