
.left-side__button {
  display: none;
}
.nav__mobile-menu {
  display: none;
}
.right-side__email {
  display: block;
  margin-right: 4px;
  cursor: pointer;
}
.right-side__email :hover {
  color: var(--cherry);

}
.nav__display-menu {
  right: 71px;
  top: 30px;
}
/* Propiedades del carrito de compras */
.selected-product {

  width: 400px;
  right: 0;
  z-index: 100;
  border-radius: 5px;
}
.selected-product__images {
  margin-left: 20px;
}
.selected-product__total {
  margin-left: 60px;
}

.main__question-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.question-cards__card-1{
  width: 50%;
}
.question-cards__card-2{
  width: 50%;
}
.question-cards__card-3 {
  width: 50%;
}
.question-cards__card-4 {
  width: 50%;
}
