
.header__right-side a {
  display: block;
  margin-right: 4px;
}
.header__right-side a :hover {
  color: var(--cherry);

}
.main__left {
  
}
.main__exchange-container {

}
.main__spaces-section {

}
.main__question-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.question-cards__card-1{
  width: 50%;
}
.question-cards__card-2{
  width: 50%;
}
.question-cards__card-3 {
  width: 50%;
}
.question-cards__card-4 {
  width: 50%;
}
